﻿/*
 | Version 10.2
 | Copyright 2012 Esri
 |
 | ArcGIS for Canadian Municipalities / ArcGIS pour les municipalités canadiennes
 | My Municipal Government Services v10.2.0.1 / Mes services municipaux v10.2.0.1
 | This file was modified by Esri Canada - Copyright 2013 Esri Canada
 |
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
 */
/* This file contains the common style settings for "My Municipal Government Services" template */

/*---------------------------------------------------------------------------------------------------------*/

/* Styles for body*/

body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana !important;
	font-weight:bold;
    overflow: hidden;
    color: #382727 ;
    visibility: visible !important;
}

#bodyContainer {
	height:100%;
	width:100%;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styles for map*/
#divMainContainer {
	width:100%;
	height: 100%; /*Also set in browser.css*/
	top:0px;
	position:absolute;
}
#map {
	width: 100%;
	height: 100%;
}

/*---------------------------------------------------------------------------------------------------------*/
/* À MODIFIER - Styles Message de départ*/

#divSplashScreenContainer
{
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.65);
    -pie-background: rgba(0,0,0,0.65);
    behavior: url("styles/PIE.htc");
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
	display: table;
}

#divSplashScreenContainerInner {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
}

#divSplashScreenContent
{
    z-index: 1000;
    background-color: #D8D5C4;
    border-radius: 5px;
    behavior: url("styles/PIE.htc");
    text-align: left;
	margin: 0px auto;
}

.divSplashContainer
{
    overflow: auto;
	padding: 10px;
}

.customButton
{
    color: #fff;
    cursor: pointer;
	border: 2px solid white;
	overflow: hidden;
	font-weight: 700;
	padding: 5px;
	text-align: center;
    border-radius: 5px;
    margin-top: 10px;
	margin: 4px auto;
}

/*---------------------------------------------------------------------------------------------------------*/
/*À MODIFIER - en tête adresse */

.divtoggle
{
    color: black;
	width: 750px;
	background-color: #D8D5C4;
	border-top-right-radius: 10px;
    position: absolute;
    z-index: 1005;
    overflow: hidden;
    -webkit-transition: bottom 0.5s ease-in;
    -moz-transition: bottom 0.5s ease-in;
    -o-transition: bottom 0.5s ease-in;
    transition: bottom 0.5s ease-in;
}

.showContainer
{
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
    transition: All 0.5s ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.hideContainer
{
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
    transition: All 0.5s ease-in;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.opacityHideAnimation
{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    -o-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
}

.fadeIn
{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.fadeOut
{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.hideContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 0px;
}

.showContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 100%;
}

.hideBottomContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 0px;
}

.showBottomContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 200px;
}

.slideBottomContainerHeight
{
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
}

.esriLogo
{
    bottom: 10px;
    -webkit-transition: bottom 0.5s ease-in;
    -moz-transition: bottom 0.5s ease-in;
    -o-transition: bottom 0.5s ease-in;
    transition: bottom 0.5s ease-in;
    z-index: 1006 !important;
    position: relative;
}

.slidePanel
{
    -webkit-transition: left 0.5s ease-in;
    -moz-transition: left 0.5s ease-in;
    -o-transition: left 0.5s ease-in;
    transition: left 0.5s ease-in;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Share Container Styles*/

.divAppContainer
{
    position: absolute;
	padding: 0px 3px;
    z-index: 1000;
    right: 15px;
    border-radius: 5px;
    background: #F31010;
}

#shareTitle {
	text-align: center;
	font-weight: 700;
	padding: 3px 5px;
	font-size: 11px;
}

.divAppContainer img {
	padding: 3px;
}

/*---------------------------------------------------------------------------------------------------------*/
/* À MODIFIER - Titre (Les services municipaux de Shawinigan)*/

.imgOptions
{
    height: 30px;
    width: 30px;
}

#divApplicationHeader
{
    vertical-align: middle;
    background: #D8D5C4;
    -pie-background: #D8D5C4;
    behavior: url("styles/PIE.htc");
    top: 0px;
	/*height set in different user-agent css files*/
    width: 100%;
    position: absolute;
    z-index: 1005;
    font-size: 24px;
}

#divHeaderTitle
{
	height: 45px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#divHeaderTitle img
{
	height: 40px;
	width: auto;
	vertical-align: middle;
	padding: 2px 4px;
}

#divButtons {
	float:right;
	height: 100%;
	padding: 4px 0px 0px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	white-space:nowrap;
}

#divButtons .imgOptions{
	margin-right: 5px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Basemap Container Styles*/

.basemapThumbnail
{
    border: medium solid transparent;
    height: 50px;
    margin: 1px;
    width: 102px;
    cursor: pointer;
}

.baseMapContainerNode
{
    float: left;
    margin: 5px 0px 0px 5px;
}

.basemapLabel
{
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.divLayerContentHolder
{
    overflow: auto;
	background-color: #468544;
}

.selectedBaseMap
{
    border-color:white;
	font-weight: 700;
}

#layerList {
	background-color: #468544;
	height:100%;
	border-radius: 5px;
}

.baseMapContainerNode {width:110px;}

/*---------------------------------------------------------------------------------------------------------*/
/*styles for headers */

.spanHeader
{
    font-weight: bolder;
    margin-left: 2px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Styles for address search*/

.searchInline {
	display: inline-block;
	width: 250px;
	height:40px;
	vertical-align: top;
	margin-right:5px;
}

#searchTitle {
	font-weight: 700;
	font-size: small;
	text-align: center;
}

#searchInput {
	width:228px;
	border: thin dimgray solid;
	font-size:16px;
	color: black;
}

#autocomplete {
	background-color: white;
	position: relative;
	right: 0px;
	z-index: 2000;
	font-size: small;
	color: black;
}

#autocomplete select {
	min-width: 250px;
	border: thin dimgray solid;
	background-color: white;
	margin:0px;
}

#autocomplete div {
	border: thin dimgray solid;
	background-color: white;
	margin:0px;
	min-width: 230px;
	padding: 3px;
	overflow: hidden;
	white-space: pre-line;
}

#searchSubmit {
	background: url(../images/search.png) no-repeat center center;
	background-color: white;
	border: thin dimgray solid;
	width: 20px;
	height: 1%;
	font-size:16px;
}

/*IE 7 Styling*/
.searchBlock {
	position: absolute;
	right: 10px;
	display:block;
	background-color: #468544;
	padding: 5px 10px 10px 10px;
	vertical-align: top;
}

.searchBlock select{
	width: 250px;
	white-space: pre;
	word-wrap: break-word;
}

.searchBlock #autocomplete {
	background-color: #468544;
}

.searchBlock #searchInput {
	position: relative;
	top: 0px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*InfoWindow Styles*/

.divInfoContainer
{
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.9);
    -pie-background: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 100%;
    behavior: url("styles/PIE.htc");
}

.divDetails
{
    position: relative;
    display: none;
}

.divCommentsContainer, .divInfoDetails, .divInfoDirections
{
    overflow: hidden;
    position: relative;
}

.divCommentsContent, .divInfoDetailsScroll, .divInfoDirectionsScroll
{
    overflow: hidden;
    width: 95%;
    color: White;
}

.tdInfoHeader
{
    font-weight: bolder;
}

.divInfoDetails, .divInfoComments, .divInfoDirections
{
    margin-left: 5px !important;
}

.divInfoWindowContainer
{
    z-index: 1002;
    position: absolute;
    background-color: #F31010;
    color: #fff;
    border-radius: 5px;
}

.divTriangle
{
    border: solid 20px transparent;
    border-top-color: #F31010;
    border-bottom: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
    position: relative;
    margin: auto;
    bottom: 0px;
}

.spanContentText
{
    margin-left: 5px;
    margin-top: 5px;
}

.title
{
    font-weight: bolder;
}

.dj_ie .divInfoWindowContainer
{
    border: none;
}

.divInfoWindowContainer .container
{
    position: absolute !important;
    top: 0;
    left: 0;
}

.imgInfoWindow
{
    position: relative;
}

.divInfoWindowContainer .content
{
    color: #fff;
}

.divInfoWindowContainer .title
{
    font-weight: bolder;
    height: 21px;
    padding: 7px 2px 2px 7px !important;
    color: #fff;
    background-color: #468544;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    behavior: url("styles/PIE.htc");
}

.imgArrow
{
    z-index: 1000;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 7px;
    height: 44px;
    width: 44px;
}

.txtArea
{
    border: 1px solid #242424;
    padding: 1px;
    background-color: #333333;
    color: #fff;
    border-radius: 3px;
    resize: none;
    height: 100px;
    overflow: auto;
}

.tdBreak
{
    word-wrap: break-word;
}

/*---------------------------------------------------------------------------------------------------------*/
/* bottom panel css*/

.divCarouselContent
{
    bottom: 0px;
    height: 0px;
    width: 100%;
    position: absolute;
    z-index: 1005;
    text-align: left;
}

.divImageBackground
{
    overflow: hidden;
    height: 36px;
    width: 40px;
    z-index: 1005;
    text-align: center;
    behavior: url("styles/PIE.htc");
}

.divDetailsHeader
{
    height: 30px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(224,232,214); /*À Modifier - En tête de chaque item*/
	border-bottom: thin grey solid; /*CanMod*/
	color: black; /*CanMod*/
    behavior: url("styles/PIE.htc");
	cursor: pointer;
}

.divContentStyle
{
    background-color: rgb(235,235,213); /*À Modifier - Fond de la fenêtre d'information de chaque item*/
	color: black; /*CanMod*/
    height: 180px;
	
    position: relative;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    behavior: url("styles/PIE.htc");
    overflow: hidden;
	
}

.divCarouselDataContent
{
    float: left;
    height: 100%;
    position: absolute;
    left: 0px;
    vertical-align: middle;
}

.tablePickUp
{
    background-color: Black;
    border-color: white;
    margin-top: 10px;
}

.tdBreakWord
{
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
}

.divCarouselDataContainer
{
    height: 240px;
    width: 100%;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    float: left;
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styles for custom scrollbar*/

.scrollbar_track
{
    position: absolute;
    right: 0;
    top: 2px;
    background-color: transparent;
    cursor: default;
    display: block;
}

.scrollbar_handle
{
    position: relative;
    width: 10px;
    background-color: dimgrey;
    border-radius: 5px;
    opacity: 0.9;
    cursor: default;
    behavior: url("styles/PIE.htc");
}

/*---------------------------------------------------------------------------------------------------------*/
/*Styles for Loading indicator container*/

.divLoadingIndicator
{
    height: 100%;
    width: 100%;
    display: none;
    font-family: Verdana;
    z-index: 2000;
    position: absolute;
    bottom: 0px;
    filter: alpha(opacity = 55);
    -khtml-opacity: 0.55;
    opacity: 0.55;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.65);
    -pie-background: rgba(0,0,0,0.65);
    behavior: url("styles/PIE.htc");
}

 input:-moz-placeholder {
      color: gray;
 }
textarea:-moz-placeholder {
      color: gray;
 }

.imgSearchLoader
{
    vertical-align: middle;
    display: none;
    cursor: default;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Styles for the pod content*/

.divDetailsHeader h2 {
	margin: 0px;
	font-size: 12px;
	padding-bottom: 10px;
	text-decoration: underline;
}

.tableInfoItem h3 {
	margin: 0px;
}

.tableInfoItem ul {
	margin: 0px;
}

.tableInfoItem:last-of-type {
	border-bottom: none;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Style for the bottom bar address*/
.divAddress {
	float: left;
	font-size: large !important;
	width: 680px;
	overflow:visible;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 8px 8px 0px 8px;
}